body{
    background-color:#8fd6;
    padding:0 20px;
    font-family: sans-serif
}

h1, h2{
    color:#0f09;
    font-weight:800;
}

h2{
    font-size:20px
}

li{
    padding: 10px
}MENU

ol li::marker {
    color: #0f09;
    font-size: 25px;
    font-weight:bolder;
}

details{
    background-color: #0a09;
    width:170px;
    color:#eee;
    font-weight:900;
    border-radius:3px
}

summary{
    padding:10px;
}

a{
    text-decoration:none
}



