body{
    background-color:#8fd6;
    padding:0 20px;
    font-family: sans-serif
}

h1, h2{
    color:#0f09;
    font-weight:800;
}

li{
    padding: 10px
}

ol li::marker {
    color: #0f09;
    font-size: 25px;
    font-weight:bolder;
}


h2{
    font-size:20px
}