body{
    background-color:black;
    color:white
}

div{
    background-color:lightskyblue;
    text-align:center;
    margin:auto;
    margin-top:20px;
    width:400px;

}

h1{
    font-size:45px;
    margin:0
}

h2{
    letter-spacing:2px
}

p{
    background-color:lightgreen;
    padding:20px 30px;
    text-align:justify
}