html{
    font-size:20px;
}

div{
    background-color:#cfcdcd;
    padding:18px;
    padding-top:3px;
    margin-top:10px;
    border-left:10px solid #99999c;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span{
    font-size:16px;
    color:#737374;
}

p{
    color:#737374
}

li{
    margin-top:20px;
}

.porcentages{
    background-color:#233;
    margin:0;
    padding:0;
    width:50%; /* porcentage is defined based on the parent element. For font-sisze it is based on the parent's font-size*/
}

/* em and rem do a multipliplication beetween the value you set and the parent (font-size)  */
.em-and-rem{
    font-size:2em; /* em is based on the parent element */
    font-size:1.5rem; /* rem is based on the root element */
}

/* vh and vw define the size of the element in base on the browser's screen */
.vw-and-vh{
    width:100vw;
    height:100vh;
}