body{
    margin:0;
    font-family:Tahoma, Geneva, Verdana, sans-serif;
}

.menu{
    background-color: #48e;
    padding:2.5px;
    text-align: center;
}

.menu--option{
    color: #eee;
    display:inline-block;
    padding: 8px 15px;
    font-weight: bolder;
    text-decoration:none;
}

.menu--option:hover{
    background-color: #59e
}

.option--button{
    color: #48E;
    padding:10px;
    border: 2px solid #48E;
    border-radius: 4px;
    margin: 0 80px
}

.option--button:hover{
    color: #EEE;
    background-color: #48E;
    border: 2px solid #EEE
}


p{
    display:inline;
    background-color:red;
}

.g{
    background-color:green
}

.btn-google{
    display:block;
    text-decoration:none;
    padding:20px;
    width:200px;
    margin-left:15px;
    background-color: #48E;
    font-size:30px;
    font-weight:900;
    color:#EEE;
    border-radius:4px;
    box-shadow: 0 0 20px 5px #0003
}